
@{
    ViewBag.Title = "ToDoList";
    Layout = "~/Views/Shared/_WriterLayout.cshtml";
}

<p>#1 Profilim</p>
<p><del>>#2 Tüm Başlıklarda Sayfalama---> Tamamlandı</del></p>
<p><del>#3 Mesajalrda Session</del></p>
<p>#4 Oturum Yönetiminin Mimariye Taşınması</p>
<p>#5 Token Kullanımı</p>

